iframe {
  padding:0.5cm;
  border:2px solid black;
  margin:0.5cm;
  text-align:center;
}

.main {
  margin:0.5cm;
  border:2px solid black;
}

body {
  margin:0;
  padding:0;
  
}

.heading {
  font-size:100px;
  text-align:center;
  background-image:url(https://cdn.dribbble.com/users/1117770/screenshots/2626626/welcome.gif);
  background-size:cover;
  background-position:center;
  
}

input {
  margin:0 5cm;
  background-color:#abcdef;
  height:35px;
  width:73px;
}
