iframe {
  padding:0.5cm;
  border:2px solid black;
  margin:0.5cm;
  text-align:center;
}

.main {
  margin:0.5cm;
  border:2px solid black;
  background-image:linear-gradient(red, orange, yellow, green, blue, violet);
  background-blend-mode: lighten;
	background-color: rgba(250,250,250,0.62)
}

body {
  margin:0;
  padding:0;
  
}

.heading {
  font-size:100px;
  text-align:center;
  background-image:url(https://cdn.dribbble.com/users/1117770/screenshots/2626626/welcome.gif);
  background-size:cover;
  background-position:center;
  
}

input {
  margin:0 6cm;
  background-color:#abcdef;
  height:35px;
  width:73px;
}

input:hover {
  background-color:#eee;
}

input:active {
   background-color:#aaa;
}
nav {
  background-color:#000;
  backdrop-filter: blur(13px);
  font-size:20px;
  width:100%;
 
  
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:#000;
  
}
