iframe {
  padding:0.5cm;
  border:2px solid black;
  margin:0.5cm;
  text-align:center;
}

.main {
  margin:0.5cm;
  border:2px solid black;
  background-image:linear-gradient(red, orange, yellow, green, blue, violet);
  background-blend-mode: lighten;
	background-color: rgba(250,250,250,0.62)
}

body {
  margin:0;
  padding:0;
  
}

.heading {
  font-size:100px;
  text-align:center;
  background-image:url(https://cdn.dribbble.com/users/1117770/screenshots/2626626/welcome.gif);
  background-size:cover;
  background-position:center;
  
}

input {
  margin:0 6cm;
  background-color:#abcdef;
  height:35px;
  width:73px;
}

input:hover {
  background-color:#eee;
}

input:active {
   background-color:#aaa;
}





nav {
    height: 50px;
    display: flex;
    align-items: center;
    position: center;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    background-blend-mode:lighten;
    background-color: rgba(11,10, 15, 0.7);
    position:fixed;
    top:0;
    left:0;

}







nav li {
	float:left;	
	padding:0.2cm 0.5cm;
	display: inline-block;
	text-align: center;

}



.lastliofnav {

	float:right;
	position:fixed;
	right:3cm;
	background-color:#555;
	background-bend-mode:lighten;
	background-color:rgba(12, 12, 12, 0.6);
	display:inline-block;
	width:300px;


}






.lastliofnav li {

	display:inline-block;
	width:240px;
	border:1px solid black;
	color:#fff;
	

}








